<div class="demo3 mb-25 t-thead-bg">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title"><%- __('dashboard_page_title') %></h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="las la-home"></i><%-
                                            __('dashboard_page_title') %></a></li>
                                <!-- <li class="breadcrumb-item active" aria-current="page"><%- __('demo_three_page_title')
                                        %></li> -->
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>