<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="shop-breadcrumb">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">Add hard Skill</h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="las la-home"></i>Skill Sets</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add hard Skill</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="global-shadow px-sm-30 py-sm-50 px-0 py-20 bg-white radius-xl w-100 mb-40">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-10">
                        <form class="was-validated" action="<%- locals.base %>admin/hard-skills/save" method="post">

                        <div class="mx-sm-30 mx-20 ">
                            <div class="card add-product p-sm-30 p-20 mb-30">
                                <div class="card-body p-0">
                                    <div class="add-product__body px-sm-40 px-20">
                                            <div class="form-group">
                                                <label for="validationServer01" class="il-gray fs-14 fw-500 align-center mb-10">
                                                    hard Skill Name</label>
                                                <input type="text" name="name" class="form-control is-invalid ih-medium ip-light radius-xs b-light" id="validationServer01" placeholder="Enter hard Skill name" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                            </div>                                          
                                            <div class="form-group status-radio add-product-status-radio mb-20">
                                                <label class="mb-15">status</label>
                                                <div class="d-flex">
                                                    <div class="radio-horizontal-list d-flex flex-wrap">
                                                        <div class="radio-theme-default custom-radio ">
                                                            <input class="radio" type="radio" name="status" checked value="active" id="radio-hl1">
                                                            <label for="radio-hl1">
                                                                <span class="radio-text">Active</span>
                                                            </label>
                                                        </div>
                                                        <div class="radio-theme-default custom-radio ">
                                                            <input class="radio" type="radio" name="status" value="inactive" id="radio-hl2">
                                                            <label for="radio-hl2">
                                                                <span class="radio-text">Inactive</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="button-group add-product-btn d-flex justify-content-end mt-40">
                                <button class="btn btn-light btn-default btn-squared fw-400 text-capitalize">cancel
                                </button>
                                <button class="btn btn-primary btn-default btn-squared text-capitalize" type="submit">save
                                </button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>